body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    position: relative;
    width: 400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e57e15;
}

.lock{
    position: absolute;
    box-sizing: border-box;
    height: 240px;
    width: 160px;
    top: 75px;
    left: 120px;
    cursor: pointer;
    padding-top: 80px;
}

.hanger{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 20px;
    top: 0;
    border-radius: 60px 60px 0 0 ;
    background-color: #d1dde5;
    box-shadow: inset 4px 4px 1px rgba(255, 255, 255, 0.795), inset -3px -2px 1px rgba(0, 0, 0, 0.295), 4px 8px 12px rgba(0, 0, 0, 0.26) ;
}

.inside{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-color: #e57e15;
    border-radius: 50px 50px 0 0 ;
    box-shadow: 4px 4px 1px rgba(255, 255, 255, 0.808), -3px -2px 1px rgba(0, 0, 0, 0.295), inset 4px 8px 12px rgba(0, 0, 0, 0.26) ;
}

.base{
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #d1dde5;
    border-radius: 50%;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.226), inset 2px 4px 1px rgba(255, 255, 255, 0.795), inset -1px -2px 1px rgba(0, 0, 0, 0.295) ;
}

.ring{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 5px;
    left: 5px;
    background-color: #333;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;

}

.line{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(calc(9deg * var(--line)));
}

.line::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #ccc;
    top: 0;
    left: 74px;
}

.line:nth-child(40):before,
.line:nth-child(5):before,
.line:nth-child(10):before,
.line:nth-child(15):before,
.line:nth-child(20):before,
.line:nth-child(25):before,
.line:nth-child(30):before,
.line:nth-child(35):before
{
    height: 18px;
}

.number{
    position: absolute;
    width: 20px;
    height: 14px;
    top: 68px;
    left: 65px;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    color: white;
}

.number-0{
    transform: rotate(0deg) translateY(-40px);
}

.number-5{
    transform: rotate(45deg) translateY(-40px);
}

.number-10{
    transform: rotate(90deg) translateY(-40px);
}

.number-15{
    transform: rotate(135deg) translateY(-40px);
}

.number-20{
    transform: rotate(180deg) translateY(-40px);
}

.number-25{
    transform: rotate(225deg) translateY(-40px);
}

.number-30{
    transform: rotate(270deg) translateY(-40px);
}

.number-35{
    transform: rotate(315deg) translateY(-40px);
}

.knob{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 55px;
    left: 55px;
    background-color: #e7ece0;
    border-radius: 50%;
    box-shadow: inset 2px 4px 1px rgba(255, 255, 255, 0.815), inset -1px -2px 1px rgba(0, 0, 0, 0.199) ;
}

.lock:hover .ring{
    transform: rotate(360deg) ;
}